
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="Index" method="post">
        <div>
            Welcome (@ViewBag.Heading) to Number sequence generator
            <input name="submit" type="submit" id="submit" value="Proceed" />
        </div>
    </form>
</body>
</html>
