
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InputNumber</title>
</head>
<body>
    <form action="InputNumber" method="post">
        <div>
            @ViewBag.InputHeading
            Enter Value: <input type="text" name="UpperLimit" id="UpperLimit" />
            <input name="submit" type="submit" id="submit" value="Get Result" />
        </div>
    </form>
</body>
</html>
