@model CBHS.Mvc.Models.MemberMvcModel
<table class="table">
    @if (Model.OldestMember != null)
    {
        var oldestMember = Model.OldestMember;
        <tr>
            <td align="left" colspan="5"><b>Oldest Member : </b> @oldestMember.Age , @oldestMember.FirstName  @oldestMember.LastName.ToUpper()</td>
        </tr>
    }
</table>

