@model CBHS.Mvc.Models.MemberMvcModel
<table class="table">
    @if (Model.OldestMember != null)
    {
        var oldestMember = Model.OldestMember;
        <tr>
            <td align="left"><b>Oldest Member</b></td>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="3">
            @oldestMember.Age , @oldestMember.FirstName  @oldestMember.LastName.ToUpper()
        </td>
        <td colspan="2"><br /></td>
    </tr>
    }
</table>

